
LCService/LCService/obj/Debug/LCService.pdb
*.cache
*.pdb
*.pdb
*.ide-wal
*.ide-shm
LCService/.vs/LCService/v15/.suo
*.exe
*.pdb
LCService/LCService/obj/Debug/LCService.csproj.FileListAbsolute.txt
*.exe
*.pdb
